<ion-card>
    <ion-card-header>
        <h2>{{ 'BotSetup.ChooseServices' | translate }}</h2>
        <h6>{{ 'BotSetup.ChooseServicesSub' | translate }}</h6>
    </ion-card-header>
    <ion-card-content>
        <ion-list>
            <ion-radio-group>
                <ion-item *ngFor="let serviceLevel of ['None', 'Basic', 'Advanced']">
                    <ion-radio slot="start"
                               [value]="serviceLevel"
                               (click)="botService.changeRiverfolkServiceLevel(bot, serviceLevel)"
                               [checked]="bot.getRiverfolkServiceLevel() === serviceLevel"></ion-radio>
                    <ion-label class="ion-text-wrap">
                        <h2>{{ serviceLevel }}</h2>
                    </ion-label>
                </ion-item>
            </ion-radio-group>
        </ion-list>
    </ion-card-content>
</ion-card>
